@{
    Bundles.Reference("scripts/stats");
    Bundles.Reference("content/site.css");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@((ViewBag.Title ?? "") + " - Crusher Memorial Medical Center")</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    @Html.Action("Stats", "Home")
    <h2>@ViewBag.Title</h2>
    @RenderBody()

    @Bundles.RenderScripts()
</body>
</html>
